html, 
body,
#root {
  box-sizing: border-box;
  background: black;
  color: white;
}

::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar:horizontal {
  height: 8px;
}
::-webkit-scrollbar-thumb {
  background: #881337;
  /* background: var(--rose-900); */
  border-radius: var(--radius-xl); 
}


/* ::-webkit-scrollbar-thumb {
  @apply background: bg-rose-900rounded-xl;
} */

/* .mainBGColor {
  background-color: #0D1117;
}

.borderColor {
  border: #161C22 solid 1px;
}

.columnBGColor {
  background: #161C22;
} */

