html, 
body,
#root {
  box-sizing: border-box;
  background: black;
  color: white;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Full height of the viewport */
}

.users-column {
  flex: 0 0 30%; /* Fixed at 30% width */
  background-color: #f0f0f0; /* Light gray background */
  padding: 20px;
  border-right: 1px solid #ccc;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.main-content {
  flex: 1; /* Takes up the remaining 70% */
  padding: 20px;
}

.tasks-container {
  margin-top: 20px;
  padding: 15px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar:horizontal {
  height: 8px;
}
::-webkit-scrollbar-thumb {
  /* bg-rose-900 */
  background: #881337;
   /* rounded-xl */
  border-radius: var(--radius-xl); 
}
.task ::-webkit-scrollbar-thumb {
  /* bg-sky-500 */
  background: #0EA5E9;
  /* rounded-xl */
  border-radius: var(--radius-xl); 
  outline: none;
}


.column-container {
  flex: 1 1 calc(33.333% - 1rem); /* Adjust to fit 3 in a row */
  /* max-width: 900px; */
  min-width: 200px; /* Set a minimum width for responsiveness */
}
/* .kanban-board {
  
} */
/* ::-webkit-scrollbar-thumb {
  @apply background: bg-rose-900rounded-xl;
} */

/* .mainBGColor {
  background-color: #0D1117;
}

.borderColor {
  border: #161C22 solid 1px;
}

.columnBGColor {
  background: #161C22;
} */

