html, 
body,
#root {
  box-sizing: border-box;
  background: black;
  color: white;
}

::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar:horizontal {
  height: 8px;
}
::-webkit-scrollbar-thumb {
  /* bg-rose-900 */
  background: #881337;
   /* rounded-xl */
  border-radius: var(--radius-xl); 
}
.task ::-webkit-scrollbar-thumb {
  /* bg-sky-500 */
  background: #0EA5E9;
  /* rounded-xl */
  border-radius: var(--radius-xl); 
  outline: none;
}


.column-container {
  flex: 1 1 calc(33.333% - 1rem); /* Adjust to fit 3 in a row */
  /* max-width: 900px; */
  min-width: 200px; /* Set a minimum width for responsiveness */
}
/* .kanban-board {
  
} */
/* ::-webkit-scrollbar-thumb {
  @apply background: bg-rose-900rounded-xl;
} */

/* .mainBGColor {
  background-color: #0D1117;
}

.borderColor {
  border: #161C22 solid 1px;
}

.columnBGColor {
  background: #161C22;
} */

